.main-content {
    flex: 1;
    padding: 20px;
    background-color: #091525;
    color: white;
    transition: background-color 0.3s ease; 
    margin-right: 10px;

  }
  
 
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
  }

  
  .card {
    background-color: #000000; 
    padding: 20px;
    height: 40vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  }
  .card:hover{
    /* background-color: #091525; */
    scale: 1.1;
  }
  
  /* Profile Section */
  .profile-picture {
    background-image: url("../assets/images/img1.webp");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  /* Button Hover Effects */
  .customize-btn:hover {
    background-color: #45a049;

  }
  
  .collect-btn:hover {
    background-color: #45a049; /* Slightly darker orange */
  }
  
  /* Points Section */
  .points-section .points {
    font-size: 48px;
    font-weight: bold;
  }
  
  .points-change {
    color: #4caf50;
    font-weight: bold;
  }
  
  /* Level Section */
  .level-section .level-display {
    font-size: 48px;
    font-weight: bold;
  }
  
  .progress-bar {
    width: 100%;
    background-color: #444;
    border-radius: 5px;
    overflow: hidden;
    height: 10px;
    margin-top: 10px;
  }
  
  .progress {
    background-color: #4caf50;
    height: 100%;
  }
  

  .trophy-display {
    font-size: 36px;
    margin: 10px 0;
  }
  
  /* Quests Section */
  .quests-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .quests-section li {
    margin: 10px 0;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .quests-section li:hover {
    background-color: #2e2e54; /* Change this to the desired hover color */
  }
  
  /* Global Stats Section */
  .stats-display {
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Tokens and Energy Section */
  .tokens-energy-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .tokens, .energy {
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Recent Endorsements Section */
  .endorsement-display p {
    margin: 5px 0;
  }
  
  .endorsement-change {
    color: #4caf50;
    font-weight: bold;
  }
  
  /* Responsive Design */
  @media (max-width: 1024px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .tokens-energy-section {
      flex-direction: column;
      align-items: center;
    }
  }
  
  .card h1, .card h2, .card h3, .card h4, .card h5, .card h6 {
    color: #ff9800; /* Replace with your desired color */
  }